/* 
 * mobile.css, responsive changes in display and typeface
 * override default styles
 */

/* featurephones */
@media (max-width: 319px) {
	#screen-game {
		width:100%;
	}
	body:before { content: 'featurephone'; display: none; }
}

/* old iPhone */
@media (min-width: 320px) {
	#screen-game {
		width:100%;
	}
	body:before { content: 'smartphone'; display: none; }
}

/* Larger than small mobile */
@media (min-width: 400px) {
	#screen-game {
		width:100%;
	}
	body:before { content: 'subtablet'; display: none; }
}

/* larger than small tablet */
@media (min-width: 550px) {
	#screen-game {
		width:100%;
	}
	body:before { content: 'tablet'; display: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
	#screen-game {
		width:100%;
	}
	body:before { content: 'laptop'; display: none; }
}

/* small desktop */
@media (min-width: 1024px) {
	#screen-game {
		width:95%;
	}
	body:before { content: 'desktop'; display: none; }
}

@media (min-width: 1200px) {
	#screen-game {
		width:90%;
	}
	body:before { content: 'desktop2'; display: none; }
}

/* Larger than Desktop HD */
@media (min-width: 1600px) {
	#screen-game {
		width:80%;
	}
	body:before { content: 'desktop3'; display: none; }
}

@media (min-width: 1980px) {
	#screen-game {
		width:75%;
	}
	body:before { content: 'digitaltv'; display: none; }
}